/** Table of contents
 *
 * Places and Letters
 *     Places
 *     Letters
 * Popup
 * Elements
 *     Links
 *     Buttons
 * Media
 *     768px
 */

@font-face {
    font-family: 'DanaYad';
    src: url('../fonts/DanaYadAlefAlefAlef-Normal.eot');
    src: url('../fonts/DanaYadAlefAlefAlef-Normal.eot') format('embedded-opentype'),
         url('../fonts/DanaYadAlefAlefAlef-Normal.otf'),
         url('../fonts/DanaYadAlefAlefAlef-Normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    min-height: 100vh;
    margin: 0;
    font-size: 1.5rem;
    background-color: var(--color-white);
    color: var(--color-black);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "h"
        "m"
        "f";
}

body.right_choice {
    --color-middle: var(--color-success);
}

body.wrong_choice {
    --color-middle: var(--color-wrong);
}

body.animate_choice {
    --color-start: var(--color-white);
    animation: blink_background .3s;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header {
    grid-area: h;
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
}

.header__title {
    margin: 0;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

img {
    vertical-align: middle;
}

/* Places and Letters
------------------------------------------------------------*/

.places,
.place_name,
.place_holder,
.letters,
.letter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.places,
.letters {
    justify-content: start;
    gap: 10px;
}

.places.example {
    justify-content: center;
}

.place_name,
.place_holder,
.letter {
    justify-content: center;
    text-align: center;
}

.place_holder:hover,
.letter:hover {
    cursor: pointer;
}

/* Places
------------------------------*/

.places {
    margin: 10px;
}

.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "n n"
        "p h";
}

.place_name {
    grid-area: n;
    padding: 5px;
    background-color: var(--color-gray);
}

.place_holder {
    width: 60px;
    height: 60px;
    border: 1px solid var(--color-gray);
}

.place_holder.printed {
    grid-area: p;
}

.place_holder.handwritten {
    grid-area: h;
}

.place_holder.achieved {
    background-color: var(--color-success);
}

/* Letters
------------------------------*/

.letters {
    margin: 10px;
}

.letter {
    width: 50px;
    height: 50px;
    background-color: var(--color-gray);
    font-size: 2rem;
}

.header__selected-letter .letter {
    width: 25px;
    height: 25px;
    font-style: 1rem;
}

.letter.printed {
    font-family: 'Rubik', sans-serif;
}

.letter.handwritten {
    font-family: 'DanaYad', cursive;
}

.letter.selected {
    outline: 1px solid var(--color-black);
}

/* Popup
------------------------------------------------------------*/

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
}

body.popup__show .popup {
    display: flex;
}

.popup_body {
    min-width: 50%;
    padding: 10px;
    background-color: #fff;
}

/* Elements
------------------------------------------------------------*/

/* Links
------------------------------*/

.links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    display: inline-block;
}

/* Buttons
------------------------------*/

.btn_set {
    margin: 10px;
}

/* Animations
------------------------------------------------------------*/

@keyframes blink_background {
    0%   { background-color: var(--color-start); }
    50%  { background-color: var(--color-middle); }
    100% { background-color: var(--color-start); }
}

/* Media
------------------------------------------------------------*/

@media screen and (max-height: 768px) {
    body {
        height: 100vh;
    }

    header {
        height: 50px;
    }

    .header__title {
        font-size: 1.3rem;
    }

    main {
        display: grid;
        grid-template-rows: 2fr 1fr;
        overflow: hidden;
    }

    .places,
    .letters {
        padding: 1px;
        overflow-y: scroll;
    }

    .places {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .place_holder {
        width: 100%;
        height: 40px;
    }

    .place_holder .letter {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
    }
}